body{
    background-color: rgba(0, 0, 0, 0.836);
}
.nav{
    display: flex;
    justify-content: space-around;
    text-align: center;

    ul{
        display: flex;
        justify-content: space-around;
        width:650%;
        
        li{
            list-style: none;
            color:azure;
        }
    }
}
hr{
    color: coral;
}